<div class="bg-body dark:bg-darkmode-body">
  {{ $image := .Params.image }}
  {{ if $image }}
    <a href="{{ .RelPermalink }}">
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "mb-6 w-full rounded") }}
    </a>
  {{ end }}
  
  <h4 class="mb-3">
    <a href="{{ .RelPermalink }}">
      {{ .Title }}
    </a>
  </h4>
  
  {{ $tags := .Params.tags }}
  {{ if $tags }}
    <ul class="mb-4">
      {{ range $i, $p := $tags }}
        <a
          href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/"
          class="ms-1"
        >{{ . | humanize }}{{ if ne $i (sub (len $tags) 1) }},{{ end }}</a>
      {{ end }}
    </ul>
  {{ end }}
  
  <a class="btn btn-outline-primary btn-sm" href="{{ .RelPermalink }}">
    {{ T "read_more" }}
  </a>
</div>
